{% extends "encyclopedia/layout.html" %}

{% block title %} Error Occurred {% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="illustration-lg">
            <img src="/static/encyclopedia/illustrations/taxi-page-not-found-2.svg" alt="Not Found Illustration">
        </div>
        <div class="error-message">
            <h1>Unfortunately {{ entry }} doesn't exist yet. </h1><br>

            {% if %}
            
            <a href="#">Would you like to create this entry?</a>

        </div>
    </div>

{% endblock %}