{% extends "encyclopedia/layout.html" %}

{% block title %} Error Occurred {% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="illustration-lg">
            <img src="/static/encyclopedia/illustrations/taxi-page-not-found-2.svg" alt="Not Found Illustration">
        </div>
        <div class="error-message">
            <span><h2>Unfortunately {{ entry }} doesn't exist yet.</h2></span><br>

                {% if similar_entries %}
                    <h4>Similar Entries:</h4>
                    {% for entry in similar_entries %}
                        <li><a href="{% url 'wiki:display_entry' entry=entry%}">{{ entry }}</a></li>
                    {% endfor %}

                {% endif %}
                
                <a href="{% url 'wiki:new_entry' %}">Would you like to create this entry?</a>
        </div>
    </div>

{% endblock %}